header {
  align-items: center;
  display: flex;
  padding: 26px 0;
  justify-content: center;
  width: 100%;
  position: absolute;
  box-sizing: border-box;

  #nav {
    li {
      display: inline-block;
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $white;
        font-size: 18px;
        font-family: 'Merriweather', serif;
        font-size: normal;
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
}