$font-path: '../../assets/fonts/';
$img-path: '../../assets/images/';

$black: #000000;
$brown: #910811;
$dark-pink: #c0005f;
$light-violet: #8988b8;
$orange: #f57e25;
$pink: #ed1163;
$violet: #6b5a8c;
$white: #ffffff;

@function calc-responsive($value1, $value2, $width1: 320, $width2: 1920) {
  $x1: $width1;
  $x2: $width2;
  $y1: $value1;
  $y2: $value2;
  $a: ($y2 - $y1) / ($x2 - $x1);
  $b: ($x2 * $y1 - $x1 * $y2) / ($x2 - $x1);
  @return calc(#{$a * 100vw} + #{$b * 1px});
}
